.wrapContent {
  max-width: var(--content-max-widh);
  margin: 0 auto 0 auto;
  padding: 0 1rem 0 1rem;
}
.wrapHeader {
  padding: 2rem 1rem;
  display: flex;
}
.wrapHeader a {
  color: var(--sumi-1000);
}
.wrapMain {
  margin: 0 auto 4rem auto;
}
.name {
  font-weight: 900;
  margin: 0;
  font-size: 1.5rem;
}
.nav {
  display: none;
}
.menu {
  margin-left: auto;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
  border: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .wrapHeader ul {
    margin: 0;
  }
  .menu {
    display: none;
  }
  .nav ul li {
    font-size: 1rem;
    list-style: none;
    display: inline-block;
    margin-left: 2rem;
  }
  .nav {
    margin-left: auto;
    margin-top: auto;
    display: block;
  }
}
.back {
  margin-top: 4rem;
}
.backArrow {
  margin-right: 1rem;
  vertical-align: middle;
}
