.wrapContent {
  max-width: var(--content-max-widh);
  margin: 0 auto 0 auto;
  padding: 0 1rem 0 1rem;
}
.wrapHeader {
  padding: 2rem 1rem;
  display: flex;
}
.wrapHeader a {
  color: var(--gray-900);
}
.wrapMain {
  margin: 0 auto 6rem auto; /* Support me ボタンができたので 4rem から 6rem に変更したよ */
}
.name {
  font-weight: 900;
  margin: 0;
  font-size: 1.5rem;
}
.name a,
.nav a {
  text-decoration: none;
}
.name a:hover,
.nav a:hover {
  text-decoration: underline;
  color: var(--gray-536);
}
.nav {
  display: none;
}
.menu {
  margin-left: auto;
  height: 2.25rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  color: var(--gray-900);
}
.menu svg,
.menu p {
  margin: auto 0 auto 0;
}
.menulist a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .wrapHeader ul {
    margin: 0;
  }
  .menu {
    display: none;
  }
  .nav ul li {
    font-size: 1rem;
    list-style: none;
    display: inline-block;
    margin-left: 2rem;
  }
  .nav {
    margin-left: auto;
    margin-top: auto;
    display: block;
  }
}
.back {
  margin-top: 4rem;
}
.backArrow {
  margin-right: 1rem;
  vertical-align: middle;
}
