.wrapContent {
  max-width: var(--content-max-widh);
  margin: 0 auto 0 auto;
  padding: 0 1rem 0 1rem;
}
.wrapHeader {
  padding: 2rem 1rem;
  display: flex;
}
.wrapHeader a {
  color: var(--gray-900);
}
.wrapMain {
  margin: 0 auto 6rem auto; /* Support me ボタンができたので 4rem から 6rem に変更したよ */
}
.name {
  font-weight: 900;
  margin: 0;
  font-size: 1.5rem;
}
.name a,
.nav a {
  text-decoration: none;
}

/* name hover アニメーション */
.letter {
  display: inline-block;
  animation: none;
}
.name:hover .letter {
  animation: jump 0.3s ease forwards;
}
.name:hover .letter:nth-child(1) {
  animation-delay: 0s;
}
.name:hover .letter:nth-child(2) {
  animation-delay: 0.05s;
}
.name:hover .letter:nth-child(3) {
  animation-delay: 0.1s;
}
.name:hover .letter:nth-child(4) {
  animation-delay: 0.15s;
}
.name:hover .letter:nth-child(5) {
  animation-delay: 0.2s;
}
.name:hover .letter:nth-child(6) {
  animation-delay: 0.25s;
}
.name:hover .letter:nth-child(7) {
  animation-delay: 0.3s;
}
.name:hover .letter:nth-child(8) {
  animation-delay: 0.35s;
}
.name:hover .letter:nth-child(9) {
  animation-delay: 0.4s;
}
@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* \ name hover アニメーション */

.nav a:hover {
  text-decoration: underline;
  color: var(--gray-536);
}
.nav {
  display: none;
}
.menu {
  margin-left: auto;
  height: 2.25rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  color: var(--gray-900);
}
.menu svg,
.menu p {
  margin: auto 0 auto 0;
}
.menulist a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .wrapHeader ul {
    margin: 0;
  }
  .menu {
    display: none;
  }
  .nav ul li {
    font-size: 1rem;
    list-style: none;
    display: inline-block;
    margin-left: 2rem;
  }
  .nav {
    margin-left: auto;
    margin-top: auto;
    display: block;
  }
}
.back {
  margin-top: 4rem;
}
.backArrow {
  margin-right: 1rem;
  vertical-align: middle;
}
