.container {
  margin-top: 4rem;
  position: relative;
  z-index: 100;
}

.comments {
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container h2 {
  font-size: 1rem;
  margin: 0;
  padding: 2px;
  background: #ccc;
}

.reacts img {
  margin: 3px -1ex 1px 0;
}

.missing {
  background: white;
  border: dashed black 1px;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 4px;
}

.container li {
  text-indent: -1rem;
  padding-left: 1rem;
}

.reaction {
  position: relative;
  text-decoration: none;
  text-shadow: 0px 0px 3px white;
  margin-right: 0;
  margin-right: 1ex;
  letter-spacing: -1ex;
  vertical-align: top;
}

.icon {
  display: inline;
}

.reaction img {
  max-height: 2rem;
  width: auto;
  margin-right: -1ex;
  border-radius: 25%;
}

.reaction sub {
  font-size: 0.5rem;
}

.comments li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text {
  color: #555;
  font-style: italic;
  text-decoration: none;
}

.name {
  color: #111;
}