.comment {
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .comment {
    width: var(--max-content-width);
  }
}
.comment textarea {
  resize: vertical;
  field-sizing: content;
  width: 100%;
  min-height: 6rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 2px var(--gray-200);
}
.button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--sea-800);
  color: white;
  border: 0;
  font-size: 1rem;
}
.button:disabled {
  opacity: 33%;
}
.comment div {
  text-align: right;
}
.chooseSNSButton {
  margin: 0.75rem 0 0.75rem 0.5rem;
  padding: 0;
  background: none;
  border: 0;
  color: var(--blue-1000);
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
}
.chooseSNSButton:hover {
  color: var(--blue-500);
}
.inputServerField {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  outline: solid 2px var(--gray-200);
  width: 12rem;
}
.inputServerField,
.button {
  margin: 0.5rem 0 0 0.5rem;
}
