@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
@import url("./prism-okaidia.css");
@import "tailwindcss";

@plugin "daisyui" {
  themes: caramellatte --default;
}

@layer base {

  body,
  p,
  html,
  textarea,
  input,
  label {
    font-family: "Noto Sans JP", sans-serif;
    overflow-wrap: anywhere;
  }

  * {
    box-sizing: border-box;
  }

  a:hover {
    text-decoration: none;
  }

  p {
    @apply text-base;
    @apply leading-[1.5];
    @apply my-3;
  }

  h1 {
    margin: 4rem 0 1.5rem 0;
    @apply text-3xl;
    @apply font-black;
  }

  h2 {
    margin: 4rem 0 1.5rem 0;
    @apply text-3xl;
  }

  h3 {
    margin: 2.5rem 0 1.5rem 0;
    @apply text-2xl;
  }

  h4 {
    margin: 2.5rem 0 1rem 0;
    @apply text-xl;
  }

  h5 {
    margin: 2.5rem 0 1rem 0;
    @apply text-lg;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
    @apply leading-[1.5];
  }
}

/* インラインコード */
p code,
ul li code {
  @apply bg-base-200;
  @apply text-base-content;
  @apply border-2;
  @apply border-base-300;
  @apply text-sm;
  @apply rounded-full;
  @apply py-px;
  @apply px-1;
}

/* 引用 */
.quote blockquote {
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0 0 0 2.5rem;
}

.quote blockquote::before {
  @apply bg-accent;
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

/* svg pan zoom */

.panzoom svg {
  @apply size-full;
  @apply max-h-128;
  @apply bg-white;
  border-radius: 0.3rem;
  @apply border-2;
  @apply border-base-200;
}

/* ##### blog ##### */

/* リスト */

.blog ul li {
  @apply list-disc;
  @apply ml-8;
}

.blog ol li {
  @apply list-decimal;
  @apply ml-8;
}

/* リンク */

.blog a {
  @apply text-info;
  @apply underline;
}

.link {
  @apply text-info;
  @apply underline;
}

/* スライド */

.blog .slide {
  width: 100%;
  height: calc(calc(calc(100vw - 2rem) / 1.777) + 2.25rem);
  margin: 0.5rem 0 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .blog .slide {
    max-width: 735px;
    max-height: 449.6px;
  }
}

/* youtube */

.blog .youtube {
  width: 100%;
  height: calc(calc(calc(100vw - 2rem) / 1.777));
  margin: 0.5rem 0 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .blog .youtube {
    max-width: 735px;
    max-height: 413.6px;
  }
}

.blog>p>img {
  width: 100%;
  max-width: var(--max-content-width);
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 3px 10px var(--color-gray-300);
  border-radius: 3px;
}

.twemoji {
  width: 1.5em !important;
  display: inline !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  vertical-align: text-bottom !important;
}

/* code block */
.blog .remark-code-container {
  @apply text-sm;
  margin: 1rem 0;
  position: relative;
}

.blog .remark-code-title {
  @apply bg-base-200;
  @apply text-base-content;
  @apply border-base-300;
  @apply text-sm;
  position: absolute;
  border-radius: 0 0 0.2rem 0.2rem;
  left: 1rem;
  padding: 2px 0.5rem;
}

.blog .remark-code-title+.remark-highlight pre {
  padding-top: calc(2.5rem + 4px);
}

/* svg */
.blog svg {
  background-color: white;
  border-radius: 0.3rem;
  @apply border-2;
  @apply border-base-200;
}

/* 引用 */
.blog blockquote {
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0 0 0 2.5rem;
}

.blog blockquote ::before {
  @apply bg-accent;
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

/* 罫線 */
.blog hr {
  margin: 4rem 0 4rem 0;
}

/* 数式 */
.blog .katex {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  display: inline-flex;
  flex-shrink: 1;
}

.blog .katex::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.blog math {
  flex-shrink: 0;
  width: auto;
}

/* リンクカード */
.blog .rlc-container {
  @apply card;
  @apply bg-white;
  @apply shadow-sm;
  @apply overflow-hidden;
  @apply no-underline;
  @apply min-h-[136px];
}

/* rlc-info */

.blog .rlc-container .rlc-info {
  @apply order-2;
  @apply card-body;
}

.blog .rlc-container .rlc-info .rlc-title {
  @apply card-title;
  @apply text-base;
}

.blog .rlc-container .rlc-info .rlc-description {
  @apply line-clamp-2;
  @apply md:line-clamp-1;
  @apply min-h-[24px];
}

.blog .rlc-container .rlc-info .rlc-url-container {
  display: flex;
  margin-top: auto;
}

.blog .rlc-container .rlc-info .rlc-url-container .rlc-favicon {
  width: 1rem;
  height: 1rem;
  margin: 0;
  line-height: 1.5rem;
  margin: auto 0.25rem auto 0;
  display: block;
}

.blog .rlc-container .rlc-info .rlc-url-container .rlc-url {
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* rlc-image-container */

.blog .rlc-container .rlc-image-container {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply order-1;
  @apply aspect-[1.911/1];
}

.blog .rlc-container .rlc-image-container img {
  @apply w-full;
  @apply h-full;
  @apply object-cover;
}

/* table */
.blog th,
.blog td {
  padding: 0.5rem 1rem;
  @apply border-base-content;
  @apply border-2;
}

.blog th {
  @apply bg-base-200;
}

.blog tr {
  @apply odd:bg-base-100;
  @apply even:bg-base-200;
}

.blog table {
  margin: 1rem 0;
  border-collapse: collapse;
  @apply w-full;
  @apply overflow-x-auto;
  @apply block;
}

@media screen and (min-width: 768px) {
  .blog .rlc-container {
    flex-direction: row;
    height: 8rem;
  }

  .blog .rlc-info {
    overflow: hidden;
  }

  .blog .rlc-image-container img {
    width: 244.6px;
    height: 100%;
  }

  .blog .rlc-url-container {
    margin-top: auto;
  }
}