@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --sea-800: #0017c1;
  --sumi-200: #e8e8eb;
  --sumi-700: #626264;
  --sumi-1000: #111;
  --content-max-widh: 1120px;
}

body,
p {
  color: var(--sumi-1000);
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 16px;
}

body {
  background-color: var(--sumi-200);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--sea-800);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  margin: 64px 0 24px 0;
}
h3 {
  margin: 40px 0 24px 0;
}
h4,
h5 {
  margin: 40px 0 16px 0;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal;
  }
}
