@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --sea-800: #0017c1;
  --sumi-200: #e8e8eb;
  --sumi-700: #626264;
  --sumi-1000: #111;
  --content-max-widh: 1120px;
}

body,
p {
  color: var(--sumi-1000);
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 16px;
}

body {
  background-color: var(--sumi-200);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--sea-800);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2 {
  margin: 64px 0 24px 0;
}
h3 {
  margin: 40px 0 24px 0;
}
h4,
h5 {
  margin: 40px 0 16px 0;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal;
  }
}

/* ##### blog ##### */

/* スライド */

.blog .slide {
  width: 100%;
  height: calc(calc(calc(100vw - 32px) / 1.777) + 36px);
  margin: 8px 0 8px 0;
}

@media screen and (min-width: 768px) {
  .blog .slide {
    max-width: 735px;
    max-height: 449.6px;
  }
}

/* youtube */

.blog .youtube {
  width: 100%;
  height: calc(calc(calc(100vw - 32px) / 1.777));
  margin: 8px 0 8px 0;
}

@media screen and (min-width: 768px) {
  .blog .youtube {
    max-width: 735px;
    max-height: 413.6px;
  }
}

/* img */

.blog img {
  width: 100%;
  max-width: 767px;
  display: block;
  margin: 8px 0 8px 0;
}

/* code block */
.blog .remark-code-container {
  margin: 16px 0 16px 0;
}

.blog .remark-code-title {
  background-color: white;
  border-radius: 8px 8px 0 0;
  padding-left: 8px;
  margin: 0;
}

.blog pre {
  background-color: var(--sumi-1000);
  overflow-x: scroll;
  color: white;
  margin: 0;
  padding: 8px;
}
