@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
@import url("./prism-okaidia.css");
@import "tailwindcss";
@plugin "daisyui" {
  themes: caramellatte --default;
}
@layer base {
  body,
  p,
  html,
  textarea,
  input,
  label {
    font-family: "Noto Sans JP", sans-serif;
    overflow-wrap: anywhere;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }

  h1 {
    margin: 4rem 0 1.5rem 0;
    font-size: 2.25rem;
  }
  h2 {
    margin: 4rem 0 1.5rem 0;
    font-size: 2rem;
  }
  h3 {
    margin: 2.5rem 0 1.5rem 0;
    font-size: 1.75rem;
  }
  h4 {
    margin: 2.5rem 0 1rem 0;
    font-size: 1.5rem;
  }
  h5 {
    margin: 2.5rem 0 1rem 0;
    font-size: 1.25rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
  }
}

/* ##### blog ##### */

/* スライド */

.blog .slide {
  width: 100%;
  height: calc(calc(calc(100vw - 2rem) / 1.777) + 2.25rem);
  margin: 0.5rem 0 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .blog .slide {
    max-width: 735px;
    max-height: 449.6px;
  }
}

/* youtube */

.blog .youtube {
  width: 100%;
  height: calc(calc(calc(100vw - 2rem) / 1.777));
  margin: 0.5rem 0 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .blog .youtube {
    max-width: 735px;
    max-height: 413.6px;
  }
}

/* img */
.blog > p > img {
  width: 100%;
  max-width: var(--max-content-width);
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: var(--color-base-100);
  box-shadow: 0 3px 10px var(--gray-200);
  border-radius: 3px;
}

/* code block */
.blog .remark-code-container {
  margin: 1rem 0;
}
.blog .remark-code-container {
  position: relative;
}
.blog .remark-code-title {
  position: absolute;
  background-color: var(--gray-600);
  color: white;
  border-radius: 0 0 0.2rem 0.2rem;
  left: 1rem;
  padding: 2px 0.5rem;
  font-family: var(--code-font-family);
}

.blog .remark-code-title + .remark-highlight pre {
  padding-top: calc(2.5rem + 4px);
}
/* インラインコード */
.blog p code,
.blog ul li code {
  background-color: var(--gray-200);
  color: var(--gray-900);
  font-family: var(--code-font-family);
  padding: 1px 4px;
  border-radius: 0.2rem;
}
/* svg */
.blog svg {
  background-color: var(--color-base-100);
  border-radius: 0.3rem;
}

/* 引用 */
.blog blockquote {
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0 0 0 2.5rem;
}

.blog blockquote p {
  color: var(--gray-600);
}

.blog blockquote ::before {
  background-color: var(--gray-600);
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

/* 罫線 */
.blog hr {
  margin: 4rem 0 4rem 0;
}

/* 数式 */
.blog .katex {
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 100%;
  display: inline-flex;
  flex-shrink: 1;
}
.blog .katex::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.blog math {
  flex-shrink: 0;
  width: auto;
}

/* リンクカード */
.blog .rlc-container {
  color: var(--gray-900);
  background-color: var(--color-base-100);
  border-radius: 0.5rem;
  width: 100%;
  max-width: var(--max-content-width);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  text-decoration: none;
}
.blog .rlc-container:hover {
  text-decoration: none;
}
.blog .rlc-info {
  padding: 1rem;
  height: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.blog .rlc-favicon {
  width: 1rem;
  height: 1rem;
  margin: 0;
  line-height: 1.5rem;
  margin: auto 0.25rem auto 0;
  display: block;
}
.blog .rlc-url-container {
  display: flex;
  margin-top: auto;
}
.blog .rlc-url {
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--gray-600);
}
.blog .rlc-image-container {
  order: -1;
}
.blog .rlc-image-container img {
  height: auto;
  width: 100%;
  margin: 0;
  aspect-ratio: 1.911/1;
  object-fit: cover;
}
.blog .rlc-description {
  width: 100%;
  color: var(--gray-600);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.blog .rlc-title {
  font-weight: 700;
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* リンクカード hover アニメーション */
.blog .rlc-info {
  position: relative;
}
.blog :is(.rlc-title, .rlc-url-container, .rlc-url, .rlc-description) {
  z-index: 1;
  transition: color 0.3s ease;
}
.blog .rlc-container:hover :is(.rlc-title, .rlc-url, .rlc-description) {
  color: #fff;
}
.blog .rlc-container:hover .rlc-info::before {
  transform: scaleX(1);
  transform-origin: left;
}
.blog .rlc-info::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--gray-900);
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s ease;
  transition-property: transform;
}

/* table */
.blog th,
.blog td {
  border: 1px solid var(--gray-600);
  padding: 0.5rem 1rem;
}
.blog table {
  margin: 1rem 0;
  border-collapse: collapse;
}

@media screen and (min-width: 768px) {
  .blog .rlc-container {
    flex-direction: row;
    height: 8rem;
  }
  .blog .rlc-info {
    overflow: hidden;
  }
  .blog .rlc-image-container img {
    width: 244.6px;
    height: 100%;
  }
  .blog .rlc-url-container {
    margin-top: auto;
  }
}
