.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 16px;
}

.lightText {
  color: var(--sumi-700);
}

.lightBlogText {
  margin: 0 0 64px;
}

.link {
  font-size: 24px;
}
