.quote blockquote::before {
  background-color: var(--color-accent-content);
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.quote blockquote {
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0 0 0 2.5rem;
}
